.container {
  max-width: 1200px;
  margin: 0px auto;
}

/* navbar */
nav {
  height: 60px;
  -webkit-box-shadow:0px 1px 1px #a2a2a2;
 -moz-box-shadow:0px 1px 1px #a2a2a2;
 box-shadow:0px 1px 1px #a2a2a2;
  /* border-bottom: 2px solid black; */
  position: fixed;
  width: 100%;
  background-color: #fff;
}

nav .container {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
}

.nav-logo {
  padding-top: 4px;
}

.nav-menu {
  line-height: 30px;
}

.nav-menu ul {
  display: flex;
  flex-direction: row;
}

.nav-menu ul li {
  margin: 15px 0px;
}

.nav-menu a {
  padding: 5px 20px;
  text-decoration: none;
  background-color: #fff;
  color: black;
}

.nav-menu a:hover {
  background-color: #fede3e;;
  color: #fff;
}


/* responsive mobile */
@media only screen and (max-width: 600px) {
  .container {
    padding: 0px 2%;
  }

  nav {
    height: auto;
    position: relative;
  }

  nav .container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .nav-menu {
    margin-top: 5px;
    /* display: none; */
  }

  .nav-menu ul {
    display: flex;
    flex-direction: column;
  }

  .nav-menu ul li {
    margin: 0px auto;
    border: 1px solid black;
    width: 100%;
    border-radius: 2px;
    background-color: #fff;
    color: black;
  }

  .nav-menu a {
    border: none;
  }

  .nav-menu ul li:hover {  
    background-color: #fede3e;;
    color: #fff;
  }

}